.secao_banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../public/assets/banner-home.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: auto 90vh;
    background-color: rgb(249, 219, 121);
}

.texto_banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 30px;
}

.texto_banner h1 {
    font-size: 100px;
    color: white;
    text-shadow: 3px 5px 2px #474747;
}

.secao_nossos_sabores,
.secao_nossos_eventos,
.secao_sobre_nos {
    display: flex;
}

.secao_nossos_sabores img,
.secao_nossos_eventos img,
.secao_sobre_nos img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.texto_secao_nossos_sabores,
.texto_secao_nossos_eventos,
.texto_secao_sobre_nos {
    width: 50%;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto_secao_nossos_sabores h2,
.texto_secao_nossos_eventos h2,
.texto_secao_sobre_nos h2 {
    font-size: 35px;
    line-height: 26px;
    text-align: center;
}

.texto_secao_nossos_sabores span,
.texto_secao_nossos_eventos span,
.texto_secao_sobre_nos span {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    margin-top: 10px;
}

.texto_secao_nossos_sabores p,
.texto_secao_nossos_eventos p,
.texto_secao_sobre_nos p {
    padding: 0 100px;
    line-height: 26px;
    margin: 40px 0;
}

@media screen and (max-width: 1024px) {
    .texto_secao_nossos_eventos p,
    .texto_secao_nossos_sabores p,
    .texto_secao_sobre_nos p {
        padding: 0px 50px;
    }
}

@media screen and (max-width: 768px) {
    .texto_banner h1 {
        font-size: 60px;
    }

    .secao_nossos_sabores {
        flex-direction: column;
        align-items: center;
    }

    .secao_nossos_sabores img {
        width: 100%;
    }

    .texto_secao_nossos_sabores,
    .texto_secao_nossos_eventos,
    .texto_secao_sobre_nos {
        width: 100%;
        padding: 100px 10px;
        text-align: center;
    }

    .secao_nossos_eventos {
        flex-direction: column-reverse;
        align-items: center;
    }

    .secao_nossos_eventos img {
        width: 100%;
    }

    .secao_sobre_nos {
        flex-direction: column;
        align-items: center;
    }

    .secao_sobre_nos img {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .texto_banner h1 {
        font-size: 40px;
    }

    .texto_secao_nossos_eventos h2,
    .texto_secao_nossos_sabores h2,
    .texto_secao_sobre_nos h2 {
        line-height: 40px;
    }
}
